.DrawerToggle {
    width: 55px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-left: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 5px;
    background-color: #ffffff;
    border-radius: 2px;

}

@media (min-width: 950px) {
    .DrawerToggle {
        display: none;
    }
}