.fab{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px !important;
    height: 60px !important;
    bottom: 15px;
    right: 15px;
    font-size: 2.5rem;
    border-radius: 100%;
    background-color: #2A00FF;
    text-align: center;
    border: none;
    cursor: pointer;
    z-index: 200;
}

.fab img{
    width: 50%;
    height: 80%;
}