.button {
    margin: 1rem 0rem;
    padding: 0.7rem 3rem;
    color: #ffffff;
    background-color: #2A00FF;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: 'YekanMedium';
    border-radius: 50px;

}

.signIn{
    background-color: #2A00FF;
    border-radius: 25px;

}
