.searchBox {
	display: flex;
	width: 45%;
	background-color: #ffffff;
	border-radius: 50px;
}
.searchButton{
	background-color: #2A00FF;
	border-radius: 100%;
	border: none;
	padding: 0.8rem;
	margin: 3px;
}
.searchButton img{
	width: 80%;
}
.searchBox input[type="text"] {
	direction: rtl;
    font-family: inherit;
    color: #535353;
	font-size: 20px;
	width: 100%;
	height: 60px;
	border: none;
	box-sizing: border-box;
	border-radius: 50px;
	transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
	background-color: transparent;
}
@media (max-width: 950px){
	.searchBox {	
		width: 60%;
	}
}
@media (max-width: 500px){
	.searchBox {	
		width: 90%;
	}
}