.footerBox{
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 0rem;
    text-align: center;
    background-color: #2A00FF;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.footer img{
    width: 100%;
    height: 30vw;
}

.footerBox p {
    position: absolute;
    font-family: "YekanMedium";
    z-index: 1;
    color: #ffffff;
}

@media (max-width: 550px) and (min-width: 350px){
    .footerBox p  {
        width: 70%;
    }
    .footer img{
        height: 70vw;
    }
}


@media (max-width: 350px){
    .footerBox p  {
        width: 70%;
    }
    .footer img{
        height: 90vw;
    }  
}

@media (max-width: 800px) and (min-width: 550px){
    .footer img{
        height: 45vw;
    }
}