.blogBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    direction: rtl;
    margin: 17vw 0;
}

.images {
    max-width: 95%;
    max-height: 500px;
    min-height: 300px;
}

.description{
    word-wrap: break-word;
    height: 100%;
    width : 90%;
}

.blogContainer{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    margin: 3rem 0rem;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
    z-index: 5;

}
.blogTitle{
    font-family: 'YekanFat';
    width: 100%;
}
.blogPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
    align-items: center;
}
.blogPost p {
    font-family: 'YekanMedium';
    line-height: 30px;
}
.blogPost img{
    margin-top: 1rem;
    object-fit: contain;
}
.post{
    width : 90%;
}
iframe{
    position: relative !important;
    min-height: 550px;
    width: 100%;
}
@media (max-width: 350px){
    .blogContainer{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem;
        padding-left: 0rem;
        margin: 5rem 0rem;
        border-radius: 5px;
        background-color: #ffffff;
        position: relative;
        z-index: 5;
        box-sizing: border-box;
    }
}
@media (max-width: 950px) and (min-width: 350px){
    .blogContainer{
        box-shadow:none;
        max-width: 100%;

    }

    .post iframe{
        min-height: 330px;

    }

    .images{
        min-width: 80%;
    }

    .blogContainer{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        margin: 8rem 0rem;
        margin-top: 0rem;
        border-radius: 5px;
        background-color: #ffffff;
        position: relative;
        z-index: 5;
        box-sizing: border-box;
    }
}