.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.modal{
    position: fixed;
    z-index: 150;
    top: 30px;
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 5px;
    animation: FadeInUp 0.5s ease;
    overflow: auto;
}
.modal {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.modal::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
@media (max-width: 500px){
    .modal {
        width: 80%;
        height: 400px;
    }

}
@keyframes FadeInUp{
    0% {
        transform: translate3d(0,100%,0);
    }
    100% {
        transform: none;
    }
}

