.NavigationItems {
    font-family: YekanMedium;
    padding: 20px 7px;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.imgContainer{
    width: 60px;
}
.imgContainer img{
    width: 70%;
}
@media (min-width: 950px) {
    .NavigationItems {
        flex-flow: column;
    }
}

@media (max-width: 950px) {
    .NavigationItems {
        flex-flow: column-reverse;
    }
}