.loginBox{
    position: relative;
    background-color: #0090FF;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.loginContainer{
    position: static;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3%;
}

.inputContainer{
    background-color: #ffffff;
    border-radius: 50px;
    margin: 0 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.inputIcons{
    padding: 10px;
}

.moon{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vw;
}

.buildings{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40vw;
    width: 55vw;
}

.lock{
    padding: 2rem;
    width: 90px;
}

.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.loginInputs{
    border: none;
    padding: 0;
    margin: 0;
    color: #000000;
    box-sizing: content-box;
    padding: 0.7rem;
    font-size: 17px;
    line-height: 23px;
    font-family: 'YekanMedium';
    width: 250px;
    height: 100%;
}

.error{
    color: #ff4949;
}

.formButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonsInput{
    background-color: #2A00FF;
}

.loginForm button{
    text-decoration: none;
	text-align: center;
	font-size: 18px;
    border: none;
    color: #ffffff;
    padding: .5rem;
    width: 115px;
    margin: .5rem;
	cursor: pointer;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.loginBox::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.loginBox {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

@media (max-width: 1200px) and (min-width: 800px){
    .buildings{
        height: 80%;
        width: 80%;
    }
    .moon{
        height: 100%;
    }
}

@media (max-width: 800px){
    .loginContainer{
        margin: 0;
        width: 320px;
    }
    .moon{
        display: none;
    }
    .buildings{
        display: none;
    }
    .loginBox{
        position: relative;
        background: linear-gradient(-30deg,#2A00FF , #00f1a1,#0090FF, #00ffdd, #2A00FF);
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    .formButtons{
        justify-content: center;
    }
    .loginForm {
        width: 100%;
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 10px;
    }
    .loginForm button{
        background-color: #0090FF;
        border-radius: 50px;
    }
    .loginInputs{
        width: 90%;
        padding-bottom: 1rem;
    }
}

@media (max-width: 390px){
      .loginContainer{
        margin: 0;
        width: 80%;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}