.message{
    width: 100%;
    margin: 0rem 2rem;
}

.likeContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.controlButtons{
    width: 90%;
    height: 100%;
    color: #ffffff;
    /* border-left: 1px solid white; */
    /* border-right: 1px solid white; */
    cursor: pointer;
}

.titleContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 0;
    align-items: center;
    border-radius: 5px;
}

.newTweet{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 90px;
    right: 15px;
    font-size: 2.5rem;
    border-radius: 100%;
    background-color: #2A00FF;
    text-align: center;
    border: none;
    cursor: pointer;
    z-index: 200;
    transition: transform 1s ease;
}

.newTweet:hover{
    transform: rotate(360deg);
}

.ScrollMessagesContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    width: 100%;
    /* height: 100%; */
}

.hashtag{
    color: #47acff;
}

.wallstreetMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120.5vh;
    margin-top: 4rem;
    /* background-color: #ffffff; */
}

.messageContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    width: 300px;
    margin: 0rem 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.messageTitle{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

.messageText{
    padding: 1rem;
    direction: rtl;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.messegeImage{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.titleItem{
    margin: 0.5rem;
}

.search{
    margin-top: 10rem;
}

.replyContainer{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-top: 1rem;
}

.replyTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 8rem;
}

.replyText{
    padding: 1rem;
    direction: rtl;

}
.tag {
    color : #ff3a3a;
}
.imageWrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.imageWrap img{
    height: 300px;
    margin-top: 1rem;
    object-fit: contain;
}

.tweetsTools{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    direction: rtl;
    width: 98%;
}

.toolsMessageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tweetsTools {
    padding: 5px;
    cursor: pointer;
}
.tweetsTools img{
    width: 25px;
    height: 25px;
    margin: 1px 5px;
}
.tweetsTools img:nth-child(2){
    animation: heart 4s infinite;
}
.tweetsTools p{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
@media (max-width: 500px){
    .titleContainer{
        margin: 10vw 0vw;
    }
}

@media  (max-width: 950px) {
    .message{
        min-width: 90%;
        /* background: #ffffff; */
        margin: 0rem 2rem;
    }
    .titleContainer{
        box-shadow: none;
    }
    .wallstreetMain{
        box-shadow: none;
    }
    
    
}

.message::-webkit-scrollbar {
    display: none;
}
  
.message {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
} 

.ScrollMessagesContainer::-webkit-scrollbar {
    display: none;
}
  
.ScrollMessagesContainer {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
} 

@keyframes heart {
    0%{
        transform: rotate(14deg);
    }
    50%{
        transform: rotate(-14deg);
    }
    100%{
        transform: rotate(14deg);
    }
}
.fadeout {
    position: relative; 
    width: 100%;
    bottom: 2em;
    height: 2em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 
