.layout{
    background-color: #0090FF;

}
@font-face {
    font-family: "YekanFat";
    src: url("../../assets/fonts/YekanFat.woff");
}

@font-face {
    font-family: "YekanMedium";
    src: url("../../assets/fonts/YekanMedium.woff");
}
*:focus {
    outline: 0;
}