.Toolbar {
    margin-top: 0;
    padding: 0;
    position: relative;
    z-index: 5;
}
.topShape{
    position: absolute;
    width: 50vw;
    top: 0;
    left: 0;
    z-index: -1;
}
.topShape img{    
    position: relative;
    width: 100%;
    height: 100%;
}
.ToolbarItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lineShadow{
    box-shadow: 0px 0.5px 15px #31373e;
}
.itemsLogo{
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 10px;
}
@media (max-width: 950px) {
    .DesktopOnly {
        display: none;
        width: 100%;
        height: 100%;
    }
    .ToolbarItems{
        width: 100%;
        height: 70px;
    }
}
@media (min-width: 950px) {
    .sideDrawerLogo{
        display: none;
    }

}
@media (max-width: 500px){
    .topShape{
        width: 75%;        
        /* display: none; */
    }
}