.mainContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 18vw 0vw;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.modal {
  text-align: center;
}

.modalError i{
  font-size: 100px;
  color: #db322c;

}

.modalSuccess i{
  font-size: 100px;
  color: rgb(48, 187, 48);
}

.profile{
  width: 800px;
  max-width: 93%;
  border-radius: 5px;
  background-color: #FFFFFF;

}

.container {
  font-family: 'YekanFat';
  font-size: 100px;
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: inherit;
  font-size: 20px;
  margin: 20px 0 20px;
}

small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: gray;
}

.avatarUpload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}

.avatarUpload .avatarEdit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatarUpload .avatarEdit input {
  display: none;
}

.avatarUpload .avatarEdit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatarUpload .avatarEdit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatarUpload .avatarEdit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatarUpload .avatarPreview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatarUpload .avatarPreview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
