.NavigationItem {
    padding: 5px 0px;
    box-sizing: border-box;
    width: 100%;
    font-size: larger;
    text-align: end;
}
.NavigationItem img{
    padding:   10px 0;
    width: 60%;
}

.NavigationItem a,
.NavigationItem span{
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 100%;
    font-family: 'YekanFat';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    cursor: pointer;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active,
.NavigationItem span:hover,
.NavigationItem span:active,
.NavigationItem span.active{
    color: #2A00FF;
}

@media (max-width: 950px) {
    .NavigationItem{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    
    }
    .NavigationItems{
        width: 100%;
    }
    .NavigationItem a,
    .NavigationItem span{
        color: #2A00FF;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active,
    .login a:hover,
    .login a:active,
    .login a.active {
        color: #2A00FF;
    }
    .NavigationItem:hover,
    .login:hover{
        background: #ddddddcc;
    }

}