.NavigationItem {
    padding: 18px 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: larger;
    text-align: end;
}

.NavigationItem a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 100%;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #2A00FF;
 
}

@media (max-width: 950px) {
    .NavigationItem{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    
    }
    .NavigationItems{
        width: 100%;
    }
    .NavigationItem a {
        color: #000;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active,
    .login a:hover,
    .login a:active,
    .login a.active {
        color: #2A00FF;
    }
    .NavigationItem:hover,
    .login:hover{
        background: #ddddddcc;
    }

}