.pannelBox{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
}
.controllerButtons{
    border: none;
    font-size: 18px;
    background-color: #31373E;
    color: #ffffff;
    padding: 1rem 5rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 9px rgba(0,0,0,.10);
}

.contollers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 78%;
    margin-top: 0;
}

.pannelContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.postInfo{
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 9px rgba(0,0,0,.10);

}
.detailButton{
    font-family: inherit;
    padding: 0.4rem 0rem;
    margin: 0.4rem 1rem;
    font-size: 18px;
    border-radius: 5px;
    background:#31373E;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 100px;   
    text-align: center; 
}
.detailButton:nth-child(2){
    background: #858585;

}

.infoTitle{
    width: 100%;
    padding: 0.5rem 0rem;
    text-align: center;
    color: #31373e;
    background-color: #ffffff;

}
table {
    border-collapse: collapse;
    width: 100%;

}
  
td, th {
    text-align: center;
    padding: 8px;
}
th {
    background-color: #31373e;
    color: #ffffff;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.newPost{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.dete {
    direction: rtl;
}

.postBox{
    width: 90%;
    margin-top: 5rem;
}

.formButtons{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

