.layout{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #2A00FF;

}
.Content{
    width : 100%;
}
@font-face {
    font-family: "YekanFat";
    src: url("../../assets/fonts/YekanFat.woff");
}

@font-face {
    font-family: "YekanMedium";
    src: url("../../assets/fonts/YekanMedium.woff");
}
*:focus {
    outline: 0;
}
@media (max-width: 950px) {
    .layout{
        flex-direction: column;
    }
}