.SideDrawer {
    overflow-y: scroll;
    position: fixed;
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.logo {
    height: 11%;
    margin: 25% 41%;
}
.infoContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.infoContainer p{
    margin: 0.7rem;
}
.profile {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
}

.image {
    margin-right: 0.7rem;
    margin-top: 1rem;
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

@media (min-width: 950px) {
    .SideDrawer {
        display: none
    }
    .Backdrop{
        display: none

    }
}

.SideDrawer::-webkit-scrollbar {
    display: none;
}
  
.SideDrawer {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
} 

.controlers {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 100%;
}
.controler{
    margin: 0;
    height: 100%;
    max-width: 100%;
    text-align: end;
    color: #31373e;
    font-size: larger;
}
.controlers{
    width: 100%;
}
.controler span:hover{
    color: #2A00FF;
}
.controler a,
.controler span{
    max-width: 100%;
    padding: 16px 10px;
    height: 100%;
    display: block;
    color: #000;;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    cursor: pointer;
}
.controler a:hover,
.controler a:active{
    color: #2A00FF;
}
.controler:hover{
    background: #ddddddcc;
}

