.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 0vw;
}

.center {
    text-align: center;
}

.pagination button {
    cursor: pointer;
    box-shadow: none;
    border: none;
    color: #000000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 18px;
    border-radius: 2px;
    margin: 0 4px;
    background-color: #ffffff;
    box-shadow: 0 0 9px rgba(0,0,0,.10);
}

.pagination img{
    cursor: pointer;
}
  
.pagination button.active {
    background-color: #2A00FF;
    color: white;
}
