.input{
    border: none;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
    margin: 0 0 .5rem;
    padding: 1rem 0 .55rem;
    font-size: 15px;
    line-height: 23px;
    width: 250px;
    direction: rtl;
    font-family: 'YekanMedium';
}
.invalid {
    border-bottom: 1px solid red !important;
    background-color: #FDA49A !important;
}