.intro{
    height: 35vw;
    color: #ffffff;
    font-family: 'YekanFat';
}
.contactUsTitle{
    color: #ffffff;
    font-family: "YekanFat";
    position: absolute;
    right: -10vw;
    top: -2vw;
    font-size: 25px;
}
.customer{
    height: 80vw;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'YekanFat';
}
.contactUsInputsImg{
    width: 31vw !important;
    height: 200px;
    z-index: -10;
    bottom: -2.5vw !important;
}
.confirmButton{
    font-family: "YekanMedium";
    border: none;
    background-color: #006FFF;
    color: #ffffff;
    font-size: 18px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.contactBackground{
    background-color: #ffffff;
    width: 460px;
    height: 250px;
    z-index: -100;
}
.contactImg{
    position: relative;
}
.messeageArea{
    width: 100% !important;
    resize: none;
}
.emailArea{
    width: 100% !important;
    padding: 0;
}
.contactUsContaier{
    position: absolute;
    display: flex;
    bottom: 20vw;
    width: 100%;
    justify-content: center;
}
.contactUsInputs{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 100;
    box-sizing: border-box;
    padding: 1rem;
    position: absolute;
    font-family: "YekanMedium";
}
.projectsTitle{
    font-family: "YekanFat";
    position: absolute;
    top: -10vw;
    right: 1vw;
    font-size: 3vw;
}
.contactUs{
    position: relative;
    z-index: 5;
    height: 65vw;
}
.contactUs img{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.projects{
    position: relative;
    height: 50vw;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects img{
    width: 80%;
}
.introTexts{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-right: 5px solid #ffffff;
    padding-right: 10px;
}

.introShapeText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-right: 5px solid #ffffff;
    padding-right: 10px;
}

.introShapeTexts{
    position: absolute;
    bottom: 15vw;
    right: 1vw;
}

.introTitle{
    margin-bottom: 0;
    font-family: "YekanFat";
    font-size: 11vw;
    margin-left: 3.5vw;
}

.introText{
    margin: 0;
    padding-left: 4vw;
    font-size: 2vw;
}

.introShape{
    position: absolute;
    width: 55%;
    right: 0;
    top: 8vw;
}

.introShape img{
    width: 100%;
    height: 100%;
}

.customerShape{
    position: absolute;
    width: 60%;
    top: 75vw;
    left: 0;
}

.customerShape img{
    width: 100%;
    height: 100%;
}

.customerImg{
    width: 40vw;
    height: 40vw;
}

.customerShapeTexts{
    position: absolute;
    bottom: 45vw;
    right: 12vw;
}

.customerShapeText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-right: 5px solid #ffffff;
    padding-right: 10px;
}

.customerText{
    margin: 0;
    padding-left: 4vw;
    font-size: 2vw;
}

.customerShapeFirstTexts{
    position: absolute;
    bottom: 35vw;
    right: 12vw;
}
.introMobile{
    color: #ffffff;
    font-family: 'YekanFat';
}
.topMobileContainer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60vw;
}
.topMobileContainer img{
    width: 100%;
}
.logoContainer{
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 18vw;
}
.logoContainer img{
    width: 50%;
    height: 50%;
}
.mobileMain{
    margin-top: 55vw;
    height: 165vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobileMain img{
    width: 100%;
    height: 100%;
}
.midMobileTop{
    position: relative;
    width: 100%;
    height: 80vw;
    z-index: 100;
}
.midMobileTop img{
    position: relative;
    width: 100%;
    height: 100%;
    top: -10vw;
}
.midMobileTopTitle{
    position: absolute;
    top: 20vw;
    right: 6vw;
    z-index: 10;
    font-size: 4.5vw;
}
.midMobileTopText{
    direction: rtl;
    position: absolute;
    border-right: 5px solid #ffffff;
    padding-right: 1rem;
    margin: 0;
    top: 50vw;
    right: 5vw;
    z-index: 1000;
}
.midMobileTopText p{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.midMobileTopText p:nth-child(2){
    padding-bottom: 2rem;
}
.midMobilebottom{
    width: 100%;
    height: 80vw;
    z-index: 100;
}
.midMobilebottom  img{
    position: relative;
    width: 100%;
    height: 100%;
    top: -14vw;
}
.midMobileBottomTitle {
    direction: rtl;
    position: relative;
    bottom: 65vw;
    right: 5vw;
    font-size: 4.5vw;
    z-index: 1000;

}
.projectsImgMobile{
    position: relative;
    top: -15vw;
    height: 120vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectsImgMobile img{
    width: 90%;
    height: 100%;
}
.mobileFooter{
    width: 100%;
    height: 50vw;
    z-index: 100;
}
.mobileFooter img{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100vw;
    top: -30vw;
}
.contactUsInputMobile{
    position: relative;
    z-index: 110;    
    width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: #2A00FF;
}
.contactUsTitleMobile{
    position: relative;
    bottom: 1vw;
    right: 5vw;
    z-index: 100;
    direction: rtl;
}
.contactUsMobileContainer{
    background: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
    width: 90%;
    margin: auto auto;
}
@media (max-width: 950px) and (min-width: 744px){
    .introTitle{
        font-size: 10vw;
    }
}
@media (max-width: 744px) and (min-width: 300px){
    .introTitle{
        font-size: 9.5vw;
    }
    .introTexts{
        width: 43%;
    }
    .contactUsTitle{
        right: -19vw;

    }
    .contactUsInputs{
        width: 45%;
        height: 195px;
    }
}
@media(max-width: 400px){
    .midMobileTopText p{
        font-size: 4.5vw;
    }
}
@media (max-width: 1140px) and (min-width: 744px){
    .contactUsTitle{
        right: -15vw;

    }
}