.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    text-align: center;
}

.image {
    margin-top: 0px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-left: 10px;
}

.login{
    font-family: inherit;
    padding: 0.7rem 2.5rem;
    margin: 0 3rem;
    font-size: 18px;
    border-radius: 50px;
    background:#00000046;
    color: #ffffff;
    border: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.login:hover {
    background: #31373Ec9;
}

.login a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%; 
    color: #ffffff;
}
.SignUp{
    font-family: inherit;
    margin: 0 1rem;
    font-size: 18px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
    text-decoration: none; 
}

.ldsDualRing {
    margin-left: 10px;
    display: inline-block;
    height: 50px;
    width: 50px;
  }
.ldsDualRing:after {
    content: " ";
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-color: #ffffff transparent #ffffff transparent;
    animation: ldsDualRing 1.2s linear infinite;
}
  @keyframes ldsDualRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.infoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:80%;
    margin: auto;
    color: #989898;
    border-bottom: 1px solid #989898;
}
.profileContainer{
    position: relative;
}
.dropDown{
    z-index: 1000;
    left: 10px;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #ffffff;
    direction: rtl;
    color: #31373E;

}
.settings{
    text-decoration: none;
    color: #31373E;
}
.controlers{
    padding-top: 10px;
    max-width:80%;
    margin: auto;
    position: relative;
    z-index: 10;
}
.controlers p{
    cursor: pointer;
}

.dropDown:after,
.dropDown:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    top: -10px;
    content: '';
    left: 19%;
    margin-left: -20px;
    position: absolute;
}

/* Styling for second triangle (border) */

.dropDown:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid;
    border-top-color: inherit; /* Can't be included in the shorthand to work */
    margin-left: -20px;
}