.errorBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 105vh;
    background-color: #0090FF;
}

.image{
    width: 100%;
    height: 100%;
}

.imageContainer{
    position: absolute;
    width: 400px;
    margin: auto auto;
}

.errorTopShape{
    position: absolute;
    top: 0;
    width: 100%;
    height: 105vh;
}

@media (max-width: 800px){
    .image {
        min-width: 90%;
    }
    .errorTopShape{
       display: none;
       
    }
    .errorBox{
        background: linear-gradient(-30deg,#2A00FF , #00f1a1,#0090FF, #0c10ff, #0090FF, #2A00FF);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
}

@media (max-width: 400px) {
    .imageContainer{
        width: 90%;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}