.articles{
    min-height: 30rem;
    padding: 15vw 0;
    padding-top: 15vw;

}

.articlesBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.articleItems {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-direction: column;
    text-align: right;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    transition: transform 0.1s ease-out;
}

.articleItems:hover{
    transform: scale(1.02)
}

.articleItems img{
    height: 300px;
    width: 300px;
    z-index: 0;   
}

.articleItems h2{
    text-align: center;
}

.articleItems p{
    word-break: break-all;
    display: block;
    overflow: hidden;
    text-align: center;
    max-width: 15rem;
    text-overflow: ellipsis;
    height: 3rem;
    margin-bottom: 0;
}

.articleLink{
    text-align: center;
    width: 100%;
    padding: 1rem;
    border: none;
    text-decoration: none;
    color: #ffffff;
    background: #2A00FF;
    cursor: pointer;
}
.articleLink:hover{
    background-color: #003cff;
}

@media (max-width: 550px){
    .articles{
        padding: 30vw 0;
    }
}

.fadeout {
    position: relative; 
    width: 100%;
    bottom: 2em;
    height: 2em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 
