.info{
    height: 125vh;
    overflow: scroll;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);   
    width: 332px;
    border-radius: 3px;
}

.infoCard{
    margin: 2rem 0;
    padding: 1rem;
    background-color: #ffffff;
    direction: rtl;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infoTitle{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #f3f3f3;
}

.infoContainer{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.valueContainer{
    direction: ltr;
    display: flex;
}

.detail{
    color: #ff0000;
    margin-left: 1rem;
}

.info::-webkit-scrollbar {
    display: none;
}
  
.info {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
} 

@media  (max-width: 950px) {
    .info{
        border-bottom: 2px solid #f3f3f3;
        width: 90%;
        box-shadow: none;
        height: 70vh;
    }
    .infoCardsContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        
    }
    .infoCard{
        width: 332px;
    }
}