
.postBoxContainer{
    display: flex;
    text-align: center;
    justify-content: center;
}

.postBox{
    margin: 2rem 0rem;
    width: 800px;
    max-width: 93%;
}

.pageHead{
    font-size: 30px;
    font-family: 'YekanFat';
    color: #ffffff;
}

.postHeader {
    position: relative;
    padding: 1rem;
    max-width: 90%;
    margin: auto;

}
.postImage {
    font-family: inherit;
    border: none;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
    margin: 0 0 .5rem;
    padding: 2rem 0 .55rem;
    font-size: 18px;
    line-height: 23px;
    width: 60%;
    max-width: 93%;
    margin: auto auto;

}
.postImage input{
    padding: 2rem 0 .55rem;

}

.postContainer{
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.postItem {
    padding: 0rem 2rem;
}

.postItem:nth-child(1) {
    padding: 0rem 0.5rem;
}


.postContainer img{
    max-width: 40%;
}

.postInputs{
    font-family: 'YekanMedium';
    border: none;
    background-color: #ffffff;
    border-radius: 0;
    box-sizing: content-box;
    margin: 0 0 .5rem;
    padding: 1rem 0.5rem;
    font-size: 18px;
    line-height: 23px;
    width: 450px;
    max-width: 80%;
    direction: rtl;
}

.postForm button{
    text-decoration: none;
	text-align: center;
	display: block;
	font-size: medium;
    border: none;
    color: #ffffff;
	border-radius: 0.5rem;
    padding: 1rem;
    width: 100px;
    margin: 1.25rem;
	cursor: pointer;
}

.formControl
  {
    direction: ltr;
    border:none;
    padding-left: 1rem;
    margin-bottom:0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    width: 100%;
  }


.inputGroup{
    display: flex;
    justify-content: space-between;
    width: 450px;
    max-width: 90%;
    padding-right: 0rem;
    margin: 4rem auto auto;
    border-radius: 50px;
    overflow: hidden;
}

.upl{
    font-family: 'YekanFat';
    background-color: #0090FF;
    color: #ffffff;
    padding: 1rem;
    width: 85px;
}

.formControl:focus{
    outline: none;
}
.modalSuccess{
    font-size: 100px;
    color: rgb(48, 187, 48);
}
.modalError{
    font-size: 100px;
    color: #db322c;

}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.editor{
    margin: auto auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    max-width: 90%;
}

.linksContainer{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    height: 250px;
    margin-top: 2rem;
    width: 450px;
    max-width: 80%;
    overflow: scroll;
}

.copy{
    background-color: #858585;
    color: #ffffff;
    padding: 1rem;
    width: 80px;
    cursor: pointer;
}

.linkGroup{
    display: flex;
    justify-content: space-between;
    padding-right: 0rem;
    min-height: 1.7rem;
    margin-top: 1rem;
    border:1px solid grey;
    border-radius: 2rem;
    overflow: hidden;
}
.linksContainer::-webkit-scrollbar {
    display: none;
}
  
.linksContainer {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
} 
.controllerButtons{
    font-family: 'YekanFat';
    border: none;
    font-size: 18px;
    background-color: #0090FF;
    color: #ffffff;
    padding: 1rem 5rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 9px rgba(0,0,0,.10);
}
.modalContainer{
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100%;
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
}

/* 
@media (max-width:500px){
    .formControl{
        width: 100px;
    }
} */