.signUpBox{
    position: relative;
    background-color: #2A00FF;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.inputIcons{
    padding: 10px;
}
.modal{
    width: 400px;
    height: 430px;
}
.modalContainer{
    position: absolute;
}
.inputContainer{
    background-color: #ffffff;
    border-radius: 50px;
    margin: 0 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 55px;
}

.signUpContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3%;
}
.signUpInputs{
    border: none;
    padding: 0;
    margin: 0;
    color: #000000;
    box-sizing: content-box;
    padding: 0.7rem;
    font-size: 17px;
    line-height: 23px;
    font-family: 'YekanMedium';
    width: 250px;
    height: 100%;
}
.signUpImage{
    width: 30%;
    min-width: 300px;
}

.signUpItem{
    padding: 0rem 2rem;

}

.sun{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 55vw;
}

.buildings{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45vw;
    width: 60vw;
}

.signUpItem:nth-child(1) {
    padding: 0rem 0.5rem;
}

.signUpContainer img:nth-child(1){
    width: 50%;
    height: 100%;
}

.signUpContainer img{
    width: 27px;
    height: 30px;
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.error{
    color: #ff4949;
}

.signUpInputs{
    border: none;
    padding: 0;
    margin: 0;
    color: #000000;
    box-sizing: content-box;
    padding: 0.7rem;
    font-size: 17px;
    line-height: 23px;
    font-family: 'YekanMedium';
    width: 250px;
}
.pig{
    padding: 2rem;
    width: 350px;
}
.formButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpForm button{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border: none;
    color: #ffffff;
    padding: .5rem;
    width: 115px;
    margin: .5rem;
    cursor: pointer;
}
.signUpForm button:nth-child(1){
    background-color: #0090FF;
}

.signIn{
    background-color: #2cc0d5;
}
.signUp{
    background-color: #f5876f;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #f5876f;
}

.modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.signUpBox::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.signUpBox {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

@media (max-width: 1200px) and (min-width: 800px){
    .buildings{
        height: 80%;
        width: 80%;
    }
    .sun{
        height: 100%;
    }

}
@media (max-width: 800px){
    .pig{
        width: 50%;
    }
    .signUpContainer img:nth-child(1){
        max-width: none;
        width: 150px;
    }
    .signUpContainer{
        margin: 0;
        width: 320px;
    }
    .inputContainer{
        width : 100%;
    }
    .buildings{
        display: none;
    }
    .sun{
        display: none;
    }
    .signUpBox{
        position: relative;
        background: linear-gradient(-30deg,#2A00FF , #00f1a1,#0090FF, #00ffdd, #2A00FF);
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    .formButtons{
        justify-content: center;
    }
    .signUpForm{
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%;
    }
    .signUpForm button{
        background-color: #0090FF;
        border-radius: 50px;
    }
    .signUpInputs{
        padding-bottom: 1rem;
    }
}

@media (max-width: 390px){
    .signUpContainer{
      margin: 0;
      width: 80%;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}