.wallStreetBox{
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    margin: 45vw 0;
    margin-top: 15vw;
    min-height: 50vh;
}
.hashtag{
    color: #47acff;
}
.modalTweet{
    height: 70% !important;
    font-family: "YekanMedium";
}
.modal{
    height: 90% !important;
    font-family: "YekanMedium";
}
.modalComment{
    height: auto !important;
}
.modalError i{
    font-size: 100px;
    color: #db322c;
}
.modalError,
.modalSuccess{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px !important;
    height: 60% !important;
}
.commentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container{
    display: flex;
    font-family: 'YekanFat';
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    font-size: 17px;
}
.newPostButton{
    margin: 1rem 0rem;
    padding: 0.7rem 3rem;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    background-color: #2A00FF;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.editor{
    width: 80% !important;
    height: 12rem !important;
    direction: rtl;
    font-family: 'YekanMedium';
    
}
.modalSuccess i{
    font-size: 100px;
    color: rgb(48, 187, 48);
}
@media (max-width: 950px){
    .wallStreetBox{
        align-items: stretch;
        flex-direction: unset;
    }
    .modal {
        margin-top: 0 !important;
        width: 90% !important;
    }

}

.formControl
  {
    direction: ltr;
    border:none;
    padding-left: 1rem;
    margin-bottom:0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    width: 100%;

}

.inputGroup{
    display: flex;
    justify-content: space-between;
    width: 450px;
    max-width: 90%;
    padding-right: 0rem;
    margin: 2rem auto auto;
    margin-bottom: 2em;
    border:1px solid grey;
    border-radius: 50px;
    overflow: hidden;
}

.upl{
    font-family: 'YekanFat';
    background-color: #0090FF;
    color: #ffffff;
    padding: 1rem;
    width: 100px;
    font-size: 15px;
    text-align: center;
}

.formControl:focus{
    outline: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
@media (max-width:500px){
    .formControl{
        width: 100px;
    }
}

.messageContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    width: 100%;
    height: 100%;
    font-family: 'YekanMedium';
    color: #000000;
}
.titleContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}

.messageTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.messageText{
    direction: rtl;
    max-width: 90%;
    height: 100%;
    width: 90%;
    margin-right: 20px;
}

.messegeImage{
    height: 90px;
    width: 90px;
    border-radius: 100%;
}

.titleItem{
    margin: 0.5rem;
}

.imageWrap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.imageWrap img{
    max-height: 400px;
    width: 90%;
    margin-top: 1rem;
    object-fit: contain;
}

@media (max-width: 500px){
    .modalError,
    .modalSuccess{
        width: 80% !important;
    }
}

@media  (max-width: 950px) {
    .message{
        min-width: 90%;
        background: #ffffff;
        margin: 0rem 2rem;
    }
    .imageWrap {
        display: flex;
        width: 90%;
        justify-content: flex-end;
    }
    .titleContainer{
        box-shadow: none;
    }
    .wallstreetMain{
        box-shadow: none;
    }
    
    
}

