.Toolbar {
    margin-top: 0;
    padding: 0;
    position: relative;
    z-index: 5;
    background-color: #0090FF;
    width: 120px;
}
.ToolbarItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lineShadow{
    box-shadow: 0px 0.5px 15px #31373e;
}
.itemsLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

@media (max-width: 950px) {
    .Toolbar{
        background-color: #2A00FF;
        height: 70px;
        width: 100%;
    }
    .DesktopOnly {
        display: none;
        width: 100%;
        height: 100%;
    }
    .ToolbarItems{
        width: 100%;
        height: 70px;
    }
}
@media (min-width: 950px) {
    .sideDrawerLogo{
        display: none;
    }

}