.NavigationItems {
    font-family: YekanMedium;
    margin: 0px 12px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (min-width: 950px) {
    .NavigationItems {
        flex-flow: row;
    }
}

@media (max-width: 950px) {
    .NavigationItems {
        flex-flow: column-reverse;
        margin: 0;
    }
}